body {
  background-color: #EAF6F6;
}
hr {
  border-style: none;
  border-top: dotted;
  border-color: #FFBCBC;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #346751;
  font-style: oblique;
}

h3 {
  color: #346751;
}
